.card-list {
	border: 3px solid var(--dark-blue);
	max-height: 40vh;

	&::-webkit-scrollbar {
		display: none;
	}

	.card-list-line {
		cursor: pointer;
		border-bottom: 2px solid var(--dark-blue);

		&:hover {
			background-color: var(--light-blue);
		}
	}

	.cost-highlight {
		background-color: var(--dark-blue-tp);
	}
}
