#chrono {
	cursor: pointer;
	position: relative;
	align-self: center;
	justify-self: right;
	width: 12vmin;
	height: 12vmin;
	border-radius: 100%;
	background: linear-gradient(165deg, var(--light-blue) 0%, var(--purple) 100%);
	box-shadow: 0 0 90px var(--purple);
	grid-area: chrono;
	margin-right: 2vw;

	&:active {
		h1 {
			color: var(--red);
		}

		animation: pulse 1.5s;
	}

	&:before {
		content: "";
		position: absolute;
		-webkit-font-smoothing: antialiased;
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		background: black;
		width: 10vmin;
		height: 10vmin;
		margin: 1vmin;
		border-radius: 100%;
	}

	&:hover {
		filter: drop-shadow(0px 0px 15px var(--light-blue));
	}

	h1 {
		color: #fff;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		font-size: 5vmin;
		width: 100%;
		letter-spacing: 0.5vmin;
	}
}
