@import "./variables.scss";

#app {
	display: flex;
	color: white;
}

#card-selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 65px;
	gap: 3em;
	--card-width: min(250px, 40vw);
	--card-height: min(375px, 60vw);
	--card-text-size: calc(var(--card-width) * 0.03);
}

.build-summary {
	display: flex;
	flex-direction: column;
	width: 25vw;
	justify-content: space-between;
	padding-bottom: 10px;
	max-height: 100vh;

	& > p {
		display: flex;
		justify-content: space-between;
		padding: 4px 3%;
	}

	@media screen and (max-width: 950px) {
		.avatar {
			display: none;
		}

		.btn {
			padding: 0.5em;
		}
	}
}

.card-list {
	height: 50%;
	display: flex;
	flex-direction: column;

	p {
		display: flex;
		justify-content: space-between;
		padding: 4px 3%;
	}

	div {
		flex-grow: 1;
		overflow-y: auto;

		p {
			border: 1px solid black;

			&:not(:last-child) {
				border-bottom: none;
			}

			&:hover {
				background-color: #555;
			}
		}
	}

	& > p {
		flex-shrink: 0;
		border-top: 3px solid black;
	}

	.cost-highlight {
		background-color: var(--dark-blue-tp);
	}
}

.selector {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em;

	@media screen and (max-width: 950px) {
		grid-template-columns: 1fr;
	}
}

.choice {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid var(--light-blue);
	text-align: center;
	flex-grow: 1;
	padding: 10px;
	border-style: inset;
	position: relative;

	img:not(.faction-symbol) {
		width: 200px;
		height: 200px;
	}

	* {
		margin: 10px 0px;
		pointer-events: none;
	}

	&.highlight {
		background-color: var(--dark-blue-tp);
	}

	&:hover {
		.faction-choice {
			mask: none;
		}
	}
}

.faction-symbol {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	margin-left: 10px;
	background-size: cover;
	background-position: center;
}

.bar-chart {
	margin: 0px 20px;
	display: flex;
	height: 8vh;

	.deckCost {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		width: 10%;
		text-align: center;
		overflow: visible;
	}

	.bar {
		background-color: var(--dark-blue-tp);
		border: 1px solid var(--light-blue);
	}
}

.btn-wrapper {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.submit-btn {
	span {
		pointer-events: none;
	}

	&.success {
		background-color: rgb(107, 189, 107);

		&:before {
			content: "Saved";
		}

		span {
			display: none;
		}
	}

	&.failed {
		background-color: rgb(190, 89, 89);

		&:before {
			content: "Failed";
		}

		span {
			display: none;
		}
	}
}

.filter-bar {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 10px;
	top: 10%;
	gap: 15px;
	padding: 20px 5px;
	border: 2px solid var(--light-blue);
	background-color: var(--dark-blue-tp);
	border-radius: 25% 25% 25% 25%;
}

.filter {
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.2);
	border: 2px solid black;
	border-radius: 100%;
	padding: 5px;
	cursor: pointer;

	&:hover {
		background-color: var(--light-blue);
		filter: drop-shadow(0px 0px 15px var(--light-blue));
	}

	&.selected {
		background-color: var(--light-blue);
		border: 2px solid white;
	}
}
