#left-container {
	animation: slideInFromLeft 2s ease-out forwards;
}

#right-container {
	animation: slideInFromRight 2s ease-out forwards;
}

#lobby-page {
	overflow-x: hidden;
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
