@import "./variables.scss";

#profile-page {
	overflow-y: scroll;
	height: 100%;
}

#trophy-wrap {
	filter: drop-shadow(0 0 0.75rem var(--light-blue));
	height: unquote("max(200px, 10vw)");
}

#trophy-img {
	height: 100%;
	background: linear-gradient(0.25turn, var(--dark-blue-tp), var(--light-blue)),
		url("/assets/img/horizontal-lined-bg.png");
	background-size: cover;
	-webkit-mask-image: url("assets/img/trophy.png");
	mask-image: url("assets/img/trophy.png");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}

#graph {
	svg {
		height: unquote("max(200px, 10vw)");
		overflow: visible;

		circle {
			fill: rgba(0, 0, 0, 0);
			stroke-width: 31.8309886184;
			stroke-dasharray: 0, 0, 0, 100;
			stroke-dashoffset: 25;
			filter: drop-shadow(0 0 0.15rem var(--light-blue));
		}

		#pie-wins {
			--arg1: var(--wins);
			--arg2: var(--loses);
			--arg3: 0;
			stroke: var(--light-blue);
			animation: pie-draw 5s ease-in forwards;
		}

		#pie-loses {
			--arg1: 0;
			--arg2: var(--wins);
			--arg3: var(--loses);
			stroke: var(--dark-blue);
			animation: pie-draw 5s ease-in forwards;
		}

		@keyframes pie-draw {
			50%,
			100% {
				stroke-dasharray: var(--arg1), var(--arg2), var(--arg3), 0;
			}
		}
	}

	#wins-label {
		&::before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: var(--light-blue);
			margin-right: 10px;
			border: 1px solid white;
		}
	}

	#loses-label {
		&::before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: var(--dark-grey);
			margin-right: 10px;
			border: 1px solid white;
		}
	}
}

#top-cards {
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;

	&:after {
		position: absolute;
		content: "";
		top: 5vw;
		left: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		filter: blur(5vw);
		background: linear-gradient(270deg, #5ddcff, #4e00c2);
		background-size: 150% 150%;
		animation: animateGlow 3s ease infinite;

		@keyframes animateGlow {
			0% {
				background-position: 0% 50%;
			}

			50% {
				background-position: 100% 50%;
			}

			100% {
				background-position: 0% 50%;
			}
		}
	}
}

.stat-line {
	display: flex;
	width: unquote("max(200px, 15vw)");
	justify-content: space-between;
	margin: 3px 0;
	font-size: larger;
}
