:root {
	--light-blue: #00a1ed;
	--dark-grey: #3b4856;
	--dark-blue: #196688;
	--red: #ff0303;
	--purple: rgba(128, 0, 255);
	--dark-blue-tp: rgba(0, 161, 237, 0.25);
	--background-blue: rgba(22, 104, 159, 0.2);
	--shield-blue: #266cc955;
	--grey: #282828;
}
